# Ignore everything
*

# Unignore BACKEND folder and its contents
!BACKEND/
!BACKEND/**

# Unignore .gitignore itself
!.gitignore

# Unignore compsys folder
!compsys/
!compsys/**

# Unignore Frontend folder
!Frontend/
!Frontend/**
