/* hover lara resim eklenebilir */ 

.hover_selecter {
  width: 1300px;
  height: 70px;
  border-radius: 4px;
  background: #ffffff00;
  display: flex;
  gap: 5px;
  padding: .4em;
  position: absolute;
  top: 50px; 
  left: 300px;
}

.hover_selecter p {
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  transition: all .5s;
  background: #40a1da8c;
  border: 1px solid #31e0e654;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover_selecter p:hover {
  flex: 4;
}

.hover_selecter p span {
  min-width: 14em;
  padding: .5em;
  text-align: center;
  transition: all .5s;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: .1em;
}

.hover_selecter p:hover span {
  transform: rotate(0);
}