--sadece tüm ürünleri içeren marketleri getirir
USE [compsys]
GO
/****** Object:  StoredProcedure [dbo].[GetAllMarketComparisonsForUserList_FullMatch]    Script Date: 4.11.2025 12:39:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[GetAllMarketComparisonsForUserList_FullMatch]
    @SessionID NVARCHAR(100),
    @DistrictID INT
AS
BEGIN
    -- Kullanıcının listedeki toplam ürün sayısını bul
    DECLARE @TotalProducts INT;

    SELECT @TotalProducts = COUNT(DISTINCT ProductID)
    FROM UserProductList
    WHERE SessionID = @SessionID;

    -- Market karşılaştırması (sadece tüm ürünleri içeren marketler)
    SELECT 
        Market.MarketName,
        SUM(MarketProductPrice.Price * UserProductList.Quantity) AS TotalPrice,
        COUNT(DISTINCT Product.ProductID) AS ProductCount
    FROM UserProductList
    INNER JOIN Product ON UserProductList.ProductID = Product.ProductID
    INNER JOIN MarketProductPrice ON MarketProductPrice.ProductID = Product.ProductID
    INNER JOIN Market ON MarketProductPrice.MarketID = Market.MarketID
    WHERE UserProductList.SessionID = @SessionID
      AND MarketProductPrice.DistrictID = @DistrictID
    GROUP BY Market.MarketName
    HAVING COUNT(DISTINCT Product.ProductID) = @TotalProducts
    ORDER BY TotalPrice ASC;
END;