--tüm marketleri getirir ürün eksik olsa bile marketi listeler.
USE [compsys]
GO
/****** Object:  StoredProcedure [dbo].[GetAllMarketComparisonsForUserList]    Script Date: 4.11.2025 12:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[GetAllMarketComparisonsForUserList]
    @SessionID NVARCHAR(100),
    @DistrictID INT
AS
BEGIN
    SELECT 
        Market.MarketName,
        SUM(MarketProductPrice.Price * UserProductList.Quantity) AS TotalPrice,
        COUNT(DISTINCT Product.ProductID) AS ProductCount
    FROM UserProductList
    INNER JOIN Product ON UserProductList.ProductID = Product.ProductID
    INNER JOIN MarketProductPrice ON MarketProductPrice.ProductID = Product.ProductID
    INNER JOIN Market ON MarketProductPrice.MarketID = Market.MarketID
    WHERE UserProductList.SessionID = @SessionID
      AND MarketProductPrice.DistrictID = @DistrictID
    GROUP BY Market.MarketName
    ORDER BY TotalPrice ASC;
END;