USE [compsys]
GO
/****** Object:  StoredProcedure [dbo].[UpdateProductCategory]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[UpdateProductCategory]
GO
/****** Object:  StoredProcedure [dbo].[UpdateMarketProductPrice]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[UpdateMarketProductPrice]
GO
/****** Object:  StoredProcedure [dbo].[UpdateMarket]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[UpdateMarket]
GO
/****** Object:  StoredProcedure [dbo].[UpdateDistrict]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[UpdateDistrict]
GO
/****** Object:  StoredProcedure [dbo].[UpdateCity]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[UpdateCity]
GO
/****** Object:  StoredProcedure [dbo].[SearchProductsByName]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[SearchProductsByName]
GO
/****** Object:  StoredProcedure [dbo].[RemoveProductFromUserList]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[RemoveProductFromUserList]
GO
/****** Object:  StoredProcedure [dbo].[GetUserProductList]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[GetUserProductList]
GO
/****** Object:  StoredProcedure [dbo].[GetTotalProductsByCategory]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[GetTotalProductsByCategory]
GO
/****** Object:  StoredProcedure [dbo].[GetSortOptionsForCategory]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[GetSortOptionsForCategory]
GO
/****** Object:  StoredProcedure [dbo].[GetSimilarProducts]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[GetSimilarProducts]
GO
/****** Object:  StoredProcedure [dbo].[GetProductsByCategoryWithFilters_Paged]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[GetProductsByCategoryWithFilters_Paged]
GO
/****** Object:  StoredProcedure [dbo].[GetProductsByCategoryWithFilters]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[GetProductsByCategoryWithFilters]
GO
/****** Object:  StoredProcedure [dbo].[GetProductPriceHistory]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[GetProductPriceHistory]
GO
/****** Object:  StoredProcedure [dbo].[GetProductDetails]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[GetProductDetails]
GO
/****** Object:  StoredProcedure [dbo].[GetPricesByProductAndDistrict]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[GetPricesByProductAndDistrict]
GO
/****** Object:  StoredProcedure [dbo].[GetPriceComparisonForUserList]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[GetPriceComparisonForUserList]
GO
/****** Object:  StoredProcedure [dbo].[GetMarketsByDistrict]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[GetMarketsByDistrict]
GO
/****** Object:  StoredProcedure [dbo].[GetLowestPriceByProductAndDistrict]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[GetLowestPriceByProductAndDistrict]
GO
/****** Object:  StoredProcedure [dbo].[GetFilteredProductCountByCategory]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[GetFilteredProductCountByCategory]
GO
/****** Object:  StoredProcedure [dbo].[GetDistrictsByCity]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[GetDistrictsByCity]
GO
/****** Object:  StoredProcedure [dbo].[GetCheapestMarketForUserList]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[GetCheapestMarketForUserList]
GO
/****** Object:  StoredProcedure [dbo].[GetAveragePriceByProductSmart]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[GetAveragePriceByProductSmart]
GO
/****** Object:  StoredProcedure [dbo].[GetAveragePriceByProductAndCity]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[GetAveragePriceByProductAndCity]
GO
/****** Object:  StoredProcedure [dbo].[GetAvailableWeightsByCategory]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[GetAvailableWeightsByCategory]
GO
/****** Object:  StoredProcedure [dbo].[GetAvailableUnitsByCategory]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[GetAvailableUnitsByCategory]
GO
/****** Object:  StoredProcedure [dbo].[GetAvailableProductsByDistrict]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[GetAvailableProductsByDistrict]
GO
/****** Object:  StoredProcedure [dbo].[GetAvailableMarketsByCategory]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[GetAvailableMarketsByCategory]
GO
/****** Object:  StoredProcedure [dbo].[GetAllProducts]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[GetAllProducts]
GO
/****** Object:  StoredProcedure [dbo].[GetAllProductCategories]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[GetAllProductCategories]
GO
/****** Object:  StoredProcedure [dbo].[GetAllMarkets]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[GetAllMarkets]
GO
/****** Object:  StoredProcedure [dbo].[GetAllMarketProductPrices]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[GetAllMarketProductPrices]
GO
/****** Object:  StoredProcedure [dbo].[GetAllMarketComparisonsWithMissingProducts]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[GetAllMarketComparisonsWithMissingProducts]
GO
/****** Object:  StoredProcedure [dbo].[GetAllMarketComparisonsForUserList_FullMatch]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[GetAllMarketComparisonsForUserList_FullMatch]
GO
/****** Object:  StoredProcedure [dbo].[GetAllMarketComparisonsForUserList]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[GetAllMarketComparisonsForUserList]
GO
/****** Object:  StoredProcedure [dbo].[GetAllDistricts]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[GetAllDistricts]
GO
/****** Object:  StoredProcedure [dbo].[GetAllCities]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[GetAllCities]
GO
/****** Object:  StoredProcedure [dbo].[DeleteProductCategory]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[DeleteProductCategory]
GO
/****** Object:  StoredProcedure [dbo].[DeleteProduct]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[DeleteProduct]
GO
/****** Object:  StoredProcedure [dbo].[DeleteMarketProductPrice]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[DeleteMarketProductPrice]
GO
/****** Object:  StoredProcedure [dbo].[DeleteMarket]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[DeleteMarket]
GO
/****** Object:  StoredProcedure [dbo].[DeleteDistrict]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[DeleteDistrict]
GO
/****** Object:  StoredProcedure [dbo].[DeleteCity]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[DeleteCity]
GO
/****** Object:  StoredProcedure [dbo].[ClearUserProductList]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[ClearUserProductList]
GO
/****** Object:  StoredProcedure [dbo].[AdminNormalizeProductName]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[AdminNormalizeProductName]
GO
/****** Object:  StoredProcedure [dbo].[AdminMergeDuplicateProducts]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[AdminMergeDuplicateProducts]
GO
/****** Object:  StoredProcedure [dbo].[AddProductToUserList]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[AddProductToUserList]
GO
/****** Object:  StoredProcedure [dbo].[AddProductCategory]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[AddProductCategory]
GO
/****** Object:  StoredProcedure [dbo].[AddProduct]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[AddProduct]
GO
/****** Object:  StoredProcedure [dbo].[AddMarketProductPrice]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[AddMarketProductPrice]
GO
/****** Object:  StoredProcedure [dbo].[AddMarket]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[AddMarket]
GO
/****** Object:  StoredProcedure [dbo].[AddDistrict]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[AddDistrict]
GO
/****** Object:  StoredProcedure [dbo].[AddCity]    Script Date: 28.11.2025 20:10:30 ******/
DROP PROCEDURE [dbo].[AddCity]
GO
ALTER TABLE [dbo].[UserProductList] DROP CONSTRAINT [FK__UserProdu__Produ__6754599E]
GO
ALTER TABLE [dbo].[Product] DROP CONSTRAINT [FK__Product__Categor__412EB0B6]
GO
ALTER TABLE [dbo].[MarketProductPrice] DROP CONSTRAINT [FK__MarketPro__Produ__45F365D3]
GO
ALTER TABLE [dbo].[MarketProductPrice] DROP CONSTRAINT [FK__MarketPro__Marke__44FF419A]
GO
ALTER TABLE [dbo].[MarketProductPrice] DROP CONSTRAINT [FK__MarketPro__Distr__46E78A0C]
GO
ALTER TABLE [dbo].[District] DROP CONSTRAINT [FK__District__CityID__3B75D760]
GO
ALTER TABLE [dbo].[UserProductList] DROP CONSTRAINT [DF__UserProdu__Quant__71D1E811]
GO
ALTER TABLE [dbo].[UserProductList] DROP CONSTRAINT [DF__UserProdu__Added__68487DD7]
GO
ALTER TABLE [dbo].[Product] DROP CONSTRAINT [DF__Product__LastUpd__4222D4EF]
GO
ALTER TABLE [dbo].[MarketProductPrice] DROP CONSTRAINT [DF__MarketPro__LastU__47DBAE45]
GO
/****** Object:  Table [dbo].[UserProductList]    Script Date: 28.11.2025 20:10:30 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserProductList]') AND type in (N'U'))
DROP TABLE [dbo].[UserProductList]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 28.11.2025 20:10:30 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Product]') AND type in (N'U'))
DROP TABLE [dbo].[Product]
GO
/****** Object:  Table [dbo].[MarketProductPrice]    Script Date: 28.11.2025 20:10:30 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MarketProductPrice]') AND type in (N'U'))
DROP TABLE [dbo].[MarketProductPrice]
GO
/****** Object:  Table [dbo].[Market]    Script Date: 28.11.2025 20:10:30 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Market]') AND type in (N'U'))
DROP TABLE [dbo].[Market]
GO
/****** Object:  Table [dbo].[District]    Script Date: 28.11.2025 20:10:30 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[District]') AND type in (N'U'))
DROP TABLE [dbo].[District]
GO
/****** Object:  Table [dbo].[City]    Script Date: 28.11.2025 20:10:30 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[City]') AND type in (N'U'))
DROP TABLE [dbo].[City]
GO
/****** Object:  View [dbo].[vw_CategoryTree]    Script Date: 28.11.2025 20:10:30 ******/
DROP VIEW [dbo].[vw_CategoryTree]
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 28.11.2025 20:10:30 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductCategory]') AND type in (N'U'))
DROP TABLE [dbo].[ProductCategory]
GO
USE [master]
GO
/****** Object:  Database [compsys]    Script Date: 28.11.2025 20:10:30 ******/
DROP DATABASE [compsys]
GO
/****** Object:  Database [compsys]    Script Date: 28.11.2025 20:10:30 ******/
CREATE DATABASE [compsys]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'compsys', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\compsys.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'compsys_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\compsys_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [compsys].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [compsys]
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[ParentCategoryID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_CategoryTree]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_CategoryTree] AS
SELECT 
    pc.CategoryID,
    pc.CategoryName,
    pc.ParentCategoryID,
    parent.CategoryName AS ParentCategoryName
FROM ProductCategory pc
LEFT JOIN ProductCategory parent
    ON pc.ParentCategoryID = parent.CategoryID;

GO
/****** Object:  Table [dbo].[City]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[CityID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[District]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[District](
	[DistrictID] [int] IDENTITY(1,1) NOT NULL,
	[CityID] [int] NOT NULL,
	[DistrictName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DistrictID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Market]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Market](
	[MarketID] [int] IDENTITY(1,1) NOT NULL,
	[MarketName] [nvarchar](100) NOT NULL,
	[WebsiteURL] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MarketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MarketProductPrice]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MarketProductPrice](
	[PriceID] [int] IDENTITY(1,1) NOT NULL,
	[MarketID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[DistrictID] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[LastUpdated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PriceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[ProductName] [nvarchar](150) NOT NULL,
	[Brand] [nvarchar](100) NULL,
	[Unit] [nvarchar](20) NULL,
	[LastUpdated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProductList]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProductList](
	[ListID] [int] IDENTITY(1,1) NOT NULL,
	[SessionID] [nvarchar](100) NOT NULL,
	[ProductID] [int] NOT NULL,
	[AddedDate] [datetime] NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ListID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([CityID], [CityName]) VALUES (7, N'Antalya')
INSERT [dbo].[City] ([CityID], [CityName]) VALUES (16, N'Bursa')
INSERT [dbo].[City] ([CityID], [CityName]) VALUES (32, N'Isparta')
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[District] ON 

INSERT [dbo].[District] ([DistrictID], [CityID], [DistrictName]) VALUES (19, 7, N'Kepez')
INSERT [dbo].[District] ([DistrictID], [CityID], [DistrictName]) VALUES (20, 7, N'Muratpasa')
INSERT [dbo].[District] ([DistrictID], [CityID], [DistrictName]) VALUES (21, 7, N'Konyaaltı')
SET IDENTITY_INSERT [dbo].[District] OFF
GO
SET IDENTITY_INSERT [dbo].[Market] ON 

INSERT [dbo].[Market] ([MarketID], [MarketName], [WebsiteURL]) VALUES (1, N'BIM', N'https://www.bim.com.tr')
INSERT [dbo].[Market] ([MarketID], [MarketName], [WebsiteURL]) VALUES (2, N'SOK', N'https://www.sokmarket.com.tr')
INSERT [dbo].[Market] ([MarketID], [MarketName], [WebsiteURL]) VALUES (3, N'A101', N'https://www.a101.com.tr')
SET IDENTITY_INSERT [dbo].[Market] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCategory] ON 

INSERT [dbo].[ProductCategory] ([CategoryID], [CategoryName], [ParentCategoryID]) VALUES (15, N'Fruits & Vegetables', NULL)
INSERT [dbo].[ProductCategory] ([CategoryID], [CategoryName], [ParentCategoryID]) VALUES (16, N'Meat, Chicken & Fish', NULL)
INSERT [dbo].[ProductCategory] ([CategoryID], [CategoryName], [ParentCategoryID]) VALUES (17, N'Dairy Products & Breakfast Foods', NULL)
SET IDENTITY_INSERT [dbo].[ProductCategory] OFF
GO
ALTER TABLE [dbo].[MarketProductPrice] ADD  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[UserProductList] ADD  DEFAULT (getdate()) FOR [AddedDate]
GO
ALTER TABLE [dbo].[UserProductList] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[District]  WITH CHECK ADD FOREIGN KEY([CityID])
REFERENCES [dbo].[City] ([CityID])
GO
ALTER TABLE [dbo].[MarketProductPrice]  WITH CHECK ADD FOREIGN KEY([DistrictID])
REFERENCES [dbo].[District] ([DistrictID])
GO
ALTER TABLE [dbo].[MarketProductPrice]  WITH CHECK ADD FOREIGN KEY([MarketID])
REFERENCES [dbo].[Market] ([MarketID])
GO
ALTER TABLE [dbo].[MarketProductPrice]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[ProductCategory] ([CategoryID])
GO
ALTER TABLE [dbo].[UserProductList]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
/****** Object:  StoredProcedure [dbo].[AddCity]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddCity]
    @CityName NVARCHAR(100)
AS
BEGIN
    INSERT INTO City (CityName)
    VALUES (@CityName);
END;
GO
/****** Object:  StoredProcedure [dbo].[AddDistrict]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddDistrict]
    @CityID INT,
    @DistrictName NVARCHAR(100)
AS
BEGIN
    INSERT INTO District (CityID, DistrictName)
    VALUES (@CityID, @DistrictName);
END;
GO
/****** Object:  StoredProcedure [dbo].[AddMarket]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddMarket]
    @MarketName NVARCHAR(100),
    @WebsiteURL NVARCHAR(255)
AS
BEGIN
    INSERT INTO Market (MarketName, WebsiteURL)
    VALUES (@MarketName, @WebsiteURL);
END;
GO
/****** Object:  StoredProcedure [dbo].[AddMarketProductPrice]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddMarketProductPrice]
    @MarketID INT,
    @ProductID INT,
    @DistrictID INT,
    @Price DECIMAL(10,2)
AS
BEGIN
    INSERT INTO MarketProductPrice (MarketID, ProductID, DistrictID, Price)
    VALUES (@MarketID, @ProductID, @DistrictID, @Price);
END;
GO
/****** Object:  StoredProcedure [dbo].[AddProduct]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddProduct]
    @CategoryID INT,
    @ProductName NVARCHAR(150),
    @Brand NVARCHAR(100),
    @Unit NVARCHAR(20)
AS
BEGIN
    INSERT INTO Product (CategoryID, ProductName, Brand, Unit)
    VALUES (@CategoryID, @ProductName, @Brand, @Unit);
END;
GO
/****** Object:  StoredProcedure [dbo].[AddProductCategory]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddProductCategory]
    @CategoryName NVARCHAR(100)
AS
BEGIN
    INSERT INTO ProductCategory (CategoryName)
    VALUES (@CategoryName);
END;
GO
/****** Object:  StoredProcedure [dbo].[AddProductToUserList]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddProductToUserList]
    @SessionID NVARCHAR(100),
    @ProductID INT
AS
BEGIN
    IF EXISTS (
        SELECT 1 FROM UserProductList
        WHERE SessionID = @SessionID AND ProductID = @ProductID
    )
    BEGIN
        UPDATE UserProductList
        SET Quantity = Quantity + 1
        WHERE SessionID = @SessionID AND ProductID = @ProductID;
    END
    ELSE
    BEGIN
        INSERT INTO UserProductList (SessionID, ProductID, Quantity)
        VALUES (@SessionID, @ProductID, 1);
    END;
END;
GO
/****** Object:  StoredProcedure [dbo].[AdminMergeDuplicateProducts]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[AdminMergeDuplicateProducts]
    @SourceProductID INT,   -- Silinecek olan ürün
    @TargetProductID INT    -- Kalacak olan ürün
AS
BEGIN
    BEGIN TRANSACTION;

    -- 1) Price tablosundaki kayıtları yeni ürüne taşı
    UPDATE MarketProductPrice
    SET ProductID = @TargetProductID
    WHERE ProductID = @SourceProductID;

    -- 2) User listelerindeki ürünleri taşı
    UPDATE UserProductList
    SET ProductID = @TargetProductID
    WHERE ProductID = @SourceProductID;

    -- 3) Kaynak ürün artık kullanılmıyor → silebiliriz
    DELETE FROM Product
    WHERE ProductID = @SourceProductID;

    COMMIT TRANSACTION;
END;
GO
/****** Object:  StoredProcedure [dbo].[AdminNormalizeProductName]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--tüm ürün adları tek tip yazılır
CREATE   PROCEDURE [dbo].[AdminNormalizeProductName]
    @ProductID INT,
    @NormalizedName NVARCHAR(200),
    @NormalizedBrand NVARCHAR(100) = NULL
AS
BEGIN
    -- Ürün adını normalize edilmiş versiyonuna güncelle
    UPDATE Product
    SET ProductName = @NormalizedName,
        Brand = CASE 
                    WHEN @NormalizedBrand IS NOT NULL THEN @NormalizedBrand
                    ELSE Brand
                END,
        LastUpdated = GETDATE()
    WHERE ProductID = @ProductID;
END;
GO
/****** Object:  StoredProcedure [dbo].[ClearUserProductList]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ClearUserProductList]
    @SessionID NVARCHAR(100)
AS
BEGIN
    DELETE FROM UserProductList
    WHERE SessionID = @SessionID;
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteCity]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteCity]
    @CityID INT
AS
BEGIN
    DELETE FROM City
    WHERE CityID = @CityID;
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteDistrict]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteDistrict]
    @DistrictID INT
AS
BEGIN
    DELETE FROM District
    WHERE DistrictID = @DistrictID;
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteMarket]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteMarket]
    @MarketID INT
AS
BEGIN
    DELETE FROM Market
    WHERE MarketID = @MarketID;
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteMarketProductPrice]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteMarketProductPrice]
    @PriceID INT
AS
BEGIN
    DELETE FROM MarketProductPrice
    WHERE PriceID = @PriceID;
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteProduct]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteProduct]
    @ProductID INT
AS
BEGIN
    DELETE FROM Product
    WHERE ProductID = @ProductID;
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteProductCategory]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteProductCategory]
    @CategoryID INT
AS
BEGIN
    DELETE FROM ProductCategory
    WHERE CategoryID = @CategoryID;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllCities]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllCities]
AS
BEGIN
    SELECT CityID, CityName
    FROM City
    ORDER BY CityName;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllDistricts]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllDistricts]
AS
BEGIN
    SELECT D.DistrictID, D.DistrictName, C.CityName
    FROM District D
    INNER JOIN City C ON D.CityID = C.CityID
    ORDER BY C.CityName, D.DistrictName;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllMarketComparisonsForUserList]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetAllMarketComparisonsForUserList]
    @SessionID NVARCHAR(100),
    @DistrictID INT
AS
BEGIN
    SELECT 
        Market.MarketName,
        SUM(MarketProductPrice.Price * UserProductList.Quantity) AS TotalPrice,
        COUNT(DISTINCT Product.ProductID) AS ProductCount
    FROM UserProductList
    INNER JOIN Product ON UserProductList.ProductID = Product.ProductID
    INNER JOIN MarketProductPrice ON MarketProductPrice.ProductID = Product.ProductID
    INNER JOIN Market ON MarketProductPrice.MarketID = Market.MarketID
    WHERE UserProductList.SessionID = @SessionID
      AND MarketProductPrice.DistrictID = @DistrictID
    GROUP BY Market.MarketName
    ORDER BY TotalPrice ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllMarketComparisonsForUserList_FullMatch]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetAllMarketComparisonsForUserList_FullMatch]
    @SessionID NVARCHAR(100),
    @DistrictID INT
AS
BEGIN
    -- Kullanıcının listedeki toplam ürün sayısını bul
    DECLARE @TotalProducts INT;

    SELECT @TotalProducts = COUNT(DISTINCT ProductID)
    FROM UserProductList
    WHERE SessionID = @SessionID;

    -- Market karşılaştırması (sadece tüm ürünleri içeren marketler)
    SELECT 
        Market.MarketName,
        SUM(MarketProductPrice.Price * UserProductList.Quantity) AS TotalPrice,
        COUNT(DISTINCT Product.ProductID) AS ProductCount
    FROM UserProductList
    INNER JOIN Product ON UserProductList.ProductID = Product.ProductID
    INNER JOIN MarketProductPrice ON MarketProductPrice.ProductID = Product.ProductID
    INNER JOIN Market ON MarketProductPrice.MarketID = Market.MarketID
    WHERE UserProductList.SessionID = @SessionID
      AND MarketProductPrice.DistrictID = @DistrictID
    GROUP BY Market.MarketName
    HAVING COUNT(DISTINCT Product.ProductID) = @TotalProducts
    ORDER BY TotalPrice ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllMarketComparisonsWithMissingProducts]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetAllMarketComparisonsWithMissingProducts]
    @SessionID NVARCHAR(100),
    @DistrictID INT
AS
BEGIN
    -- Kullanıcının listesindeki toplam ürün sayısını bul
    DECLARE @TotalProducts INT;

    SELECT @TotalProducts = COUNT(DISTINCT ProductID)
    FROM UserProductList
    WHERE SessionID = @SessionID;

    -- Tüm marketlerde fiyat karşılaştırması (eksik ürünleri dahil)
    SELECT 
        Market.MarketName,
        COUNT(DISTINCT MarketProductPrice.ProductID) AS AvailableProducts,
        @TotalProducts - COUNT(DISTINCT MarketProductPrice.ProductID) AS MissingProducts,
        SUM(MarketProductPrice.Price * UserProductList.Quantity) AS TotalPrice
    FROM Market
    INNER JOIN MarketProductPrice 
        ON Market.MarketID = MarketProductPrice.MarketID
    INNER JOIN Product 
        ON MarketProductPrice.ProductID = Product.ProductID
    INNER JOIN UserProductList 
        ON UserProductList.ProductID = Product.ProductID
    WHERE UserProductList.SessionID = @SessionID
      AND MarketProductPrice.DistrictID = @DistrictID
    GROUP BY Market.MarketName
    ORDER BY MissingProducts ASC, TotalPrice ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllMarketProductPrices]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllMarketProductPrices]
AS
BEGIN
    SELECT 
        MPP.PriceID,
        M.MarketName,
        P.ProductName,
        P.Brand,
        D.DistrictName,
        C.CityName,
        MPP.Price,
        MPP.LastUpdated
    FROM MarketProductPrice MPP
    INNER JOIN Market M ON MPP.MarketID = M.MarketID
    INNER JOIN Product P ON MPP.ProductID = P.ProductID
    INNER JOIN District D ON MPP.DistrictID = D.DistrictID
    INNER JOIN City C ON D.CityID = C.CityID
    ORDER BY C.CityName, D.DistrictName, P.ProductName;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllMarkets]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllMarkets]
AS
BEGIN
    SELECT MarketID, MarketName, WebsiteURL
    FROM Market
    ORDER BY MarketName;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllProductCategories]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAllProductCategories]
AS
BEGIN
    SELECT CategoryID, CategoryName
    FROM ProductCategory
    ORDER BY CategoryName;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllProducts]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllProducts]
AS
BEGIN
    SELECT 
        P.ProductID, 
        P.ProductName, 
        P.Brand, 
        P.Unit, 
        C.CategoryName, 
        P.LastUpdated
    FROM Product P
    INNER JOIN ProductCategory C ON P.CategoryID = C.CategoryID
    ORDER BY C.CategoryName, P.ProductName;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAvailableMarketsByCategory]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--market filtre listesi
CREATE   PROCEDURE [dbo].[GetAvailableMarketsByCategory]
    @CategoryID INT,
    @DistrictID INT
AS
BEGIN
    SELECT 
        Market.MarketName,
        COUNT(DISTINCT Product.ProductID) AS ProductCount
    FROM MarketProductPrice
    INNER JOIN Product ON MarketProductPrice.ProductID = Product.ProductID
    INNER JOIN Market ON MarketProductPrice.MarketID = Market.MarketID
    WHERE Product.CategoryID = @CategoryID
      AND MarketProductPrice.DistrictID = @DistrictID
    GROUP BY Market.MarketName
    ORDER BY ProductCount DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAvailableProductsByDistrict]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAvailableProductsByDistrict]
    @DistrictID INT
AS
BEGIN
    SELECT DISTINCT 
        Product.ProductID,
        Product.ProductName,
        Product.Brand,
        ProductCategory.CategoryName
    FROM MarketProductPrice
    INNER JOIN Product ON MarketProductPrice.ProductID = Product.ProductID
    INNER JOIN ProductCategory ON Product.CategoryID = ProductCategory.CategoryID
    WHERE MarketProductPrice.DistrictID = @DistrictID
    ORDER BY ProductCategory.CategoryName, Product.ProductName;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAvailableUnitsByCategory]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--miktar filtresi
CREATE   PROCEDURE [dbo].[GetAvailableUnitsByCategory]
    @CategoryID INT,
    @DistrictID INT
AS
BEGIN
    SELECT 
        Product.Unit,
        COUNT(DISTINCT Product.ProductID) AS ProductCount
    FROM Product
    INNER JOIN MarketProductPrice 
        ON Product.ProductID = MarketProductPrice.ProductID
    WHERE Product.CategoryID = @CategoryID
      AND MarketProductPrice.DistrictID = @DistrictID
      AND Product.Unit IS NOT NULL
    GROUP BY Product.Unit
    ORDER BY Product.Unit;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAvailableWeightsByCategory]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--ürünlerin Unit alanına bakarak ağırlık/hacim değerlerini listeler
CREATE   PROCEDURE [dbo].[GetAvailableWeightsByCategory]
    @CategoryID INT,
    @DistrictID INT
AS
BEGIN
    SELECT 
        Product.Unit AS WeightVolume,
        COUNT(DISTINCT Product.ProductID) AS ProductCount
    FROM Product
    INNER JOIN MarketProductPrice 
        ON Product.ProductID = MarketProductPrice.ProductID
    WHERE Product.CategoryID = @CategoryID
      AND MarketProductPrice.DistrictID = @DistrictID
      AND Product.Unit IS NOT NULL
    GROUP BY Product.Unit
    ORDER BY Product.Unit;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAveragePriceByProductAndCity]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAveragePriceByProductAndCity]
    @ProductID INT,
    @CityID INT = NULL
AS
BEGIN
    -- Eğer CityID NULL ise veya geçersizse, sistem doğru CityID'yi MarketProductPrice üzerinden bulur
    SELECT 
        Product.ProductName,
        Product.Brand,
        City.CityName,
        AVG(MarketProductPrice.Price) AS AveragePrice
    FROM MarketProductPrice
    INNER JOIN Product ON MarketProductPrice.ProductID = Product.ProductID
    INNER JOIN District ON MarketProductPrice.DistrictID = District.DistrictID
    INNER JOIN City ON District.CityID = City.CityID
    WHERE MarketProductPrice.ProductID = @ProductID
      AND (@CityID IS NULL OR City.CityID = @CityID)
    GROUP BY Product.ProductName, Product.Brand, City.CityName;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAveragePriceByProductSmart]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAveragePriceByProductSmart]
    @ProductID INT,
    @CityID INT = NULL
AS
BEGIN
    SELECT 
        Product.ProductName,
        Product.Brand,
        City.CityName,
        AVG(MarketProductPrice.Price) AS AveragePrice
    FROM MarketProductPrice
    INNER JOIN Product ON MarketProductPrice.ProductID = Product.ProductID
    INNER JOIN District ON MarketProductPrice.DistrictID = District.DistrictID
    INNER JOIN City ON District.CityID = City.CityID
    WHERE MarketProductPrice.ProductID = @ProductID
      AND (@CityID IS NULL OR City.CityID = @CityID)
    GROUP BY Product.ProductName, Product.Brand, City.CityName;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetCheapestMarketForUserList]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetCheapestMarketForUserList]
    @SessionID NVARCHAR(100),
    @DistrictID INT
AS
BEGIN
    SELECT TOP 1
        Market.MarketName,
        SUM(MarketProductPrice.Price * UserProductList.Quantity) AS TotalPrice,
        COUNT(DISTINCT Product.ProductID) AS ProductCount
    FROM UserProductList
    INNER JOIN Product ON UserProductList.ProductID = Product.ProductID
    INNER JOIN MarketProductPrice ON MarketProductPrice.ProductID = Product.ProductID
    INNER JOIN Market ON MarketProductPrice.MarketID = Market.MarketID
    WHERE UserProductList.SessionID = @SessionID
      AND MarketProductPrice.DistrictID = @DistrictID
    GROUP BY Market.MarketName
    ORDER BY TotalPrice ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetDistrictsByCity]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDistrictsByCity]
    @CityID INT
AS
BEGIN
    SELECT DistrictID, DistrictName
    FROM District
    WHERE CityID = @CityID
    ORDER BY DistrictName;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetFilteredProductCountByCategory]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--seçili kategori + filtreler → kaç ürün kaldı?
CREATE   PROCEDURE [dbo].[GetFilteredProductCountByCategory]
    @CategoryID INT,
    @DistrictID INT,
    @MarketName NVARCHAR(100) = NULL,
    @Brand NVARCHAR(100) = NULL,
    @Unit NVARCHAR(20) = NULL,
    @MinPrice DECIMAL(10,2) = NULL,
    @MaxPrice DECIMAL(10,2) = NULL
AS
BEGIN
    SELECT 
        COUNT(DISTINCT Product.ProductID) AS FilteredProductCount
    FROM Product
    INNER JOIN MarketProductPrice 
        ON Product.ProductID = MarketProductPrice.ProductID
    INNER JOIN Market
        ON MarketProductPrice.MarketID = Market.MarketID
    WHERE Product.CategoryID = @CategoryID
      AND MarketProductPrice.DistrictID = @DistrictID
      AND (@MarketName IS NULL OR Market.MarketName = @MarketName)
      AND (@Brand IS NULL OR Product.Brand = @Brand)
      AND (@Unit IS NULL OR Product.Unit = @Unit)
      AND (@MinPrice IS NULL OR MarketProductPrice.Price >= @MinPrice)
      AND (@MaxPrice IS NULL OR MarketProductPrice.Price <= @MaxPrice);
END;
GO
/****** Object:  StoredProcedure [dbo].[GetLowestPriceByProductAndDistrict]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetLowestPriceByProductAndDistrict]
    @ProductID INT,
    @DistrictID INT
AS
BEGIN
    SELECT TOP 1 
        Market.MarketName,
        Product.ProductName,
        Product.Brand,
        City.CityName,
        District.DistrictName,
        MarketProductPrice.Price,
        MarketProductPrice.LastUpdated
    FROM MarketProductPrice
    INNER JOIN Market ON MarketProductPrice.MarketID = Market.MarketID
    INNER JOIN Product ON MarketProductPrice.ProductID = Product.ProductID
    INNER JOIN District ON MarketProductPrice.DistrictID = District.DistrictID
    INNER JOIN City ON District.CityID = City.CityID
    WHERE MarketProductPrice.ProductID = @ProductID
      AND MarketProductPrice.DistrictID = @DistrictID
    ORDER BY MarketProductPrice.Price ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetMarketsByDistrict]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetMarketsByDistrict]
    @DistrictID INT
AS
BEGIN
    SELECT DISTINCT 
        M.MarketID, 
        M.MarketName
    FROM MarketProductPrice MPP
    INNER JOIN Market M ON MPP.MarketID = M.MarketID
    WHERE MPP.DistrictID = @DistrictID
    ORDER BY M.MarketName;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetPriceComparisonForUserList]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetPriceComparisonForUserList]
    @SessionID NVARCHAR(100),
    @DistrictID INT
AS
BEGIN
    SELECT 
        Product.ProductID,
        Product.ProductName,
        Product.Brand,
        Product.Unit,
        ProductCategory.CategoryName,
        Market.MarketName,
        MarketProductPrice.Price,
        UserProductList.Quantity,
        (MarketProductPrice.Price * UserProductList.Quantity) AS TotalProductPrice,
        District.DistrictName,
        City.CityName,
        MarketProductPrice.LastUpdated
    FROM UserProductList
    INNER JOIN Product ON UserProductList.ProductID = Product.ProductID
    INNER JOIN ProductCategory ON Product.CategoryID = ProductCategory.CategoryID
    INNER JOIN MarketProductPrice ON MarketProductPrice.ProductID = Product.ProductID
    INNER JOIN Market ON MarketProductPrice.MarketID = Market.MarketID
    INNER JOIN District ON MarketProductPrice.DistrictID = District.DistrictID
    INNER JOIN City ON District.CityID = City.CityID
    WHERE UserProductList.SessionID = @SessionID
      AND MarketProductPrice.DistrictID = @DistrictID
    ORDER BY Product.ProductName, MarketProductPrice.Price ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetPricesByProductAndDistrict]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPricesByProductAndDistrict]
    @ProductID INT,
    @DistrictID INT
AS
BEGIN
    SELECT 
        MarketProductPrice.PriceID,
        Market.MarketName,
        Product.ProductName,
        Product.Brand,
        City.CityName,
        District.DistrictName,
        MarketProductPrice.Price,
        MarketProductPrice.LastUpdated
    FROM MarketProductPrice
    INNER JOIN Market ON MarketProductPrice.MarketID = Market.MarketID
    INNER JOIN Product ON MarketProductPrice.ProductID = Product.ProductID
    INNER JOIN District ON MarketProductPrice.DistrictID = District.DistrictID
    INNER JOIN City ON District.CityID = City.CityID
    WHERE MarketProductPrice.ProductID = @ProductID
      AND MarketProductPrice.DistrictID = @DistrictID
    ORDER BY MarketProductPrice.Price ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetProductDetails]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetProductDetails]
    @ProductID INT,
    @DistrictID INT
AS
BEGIN
    -- 1) Ürün genel bilgileri
    SELECT 
        Product.ProductID,
        Product.ProductName,
        Product.Brand,
        Product.Unit,
        ProductCategory.CategoryName
    FROM Product
    INNER JOIN ProductCategory 
        ON Product.CategoryID = ProductCategory.CategoryID
    WHERE Product.ProductID = @ProductID;


    -- 2) Ürünün seçilen ilçedeki tüm marketlerdeki fiyatları
    SELECT 
        Market.MarketName,
        MarketProductPrice.Price,
        MarketProductPrice.LastUpdated
    FROM MarketProductPrice
    INNER JOIN Market 
        ON MarketProductPrice.MarketID = Market.MarketID
    WHERE MarketProductPrice.ProductID = @ProductID
      AND MarketProductPrice.DistrictID = @DistrictID
    ORDER BY MarketProductPrice.Price ASC;


    -- 3) En ucuz market bilgisi
    SELECT TOP 1
        Market.MarketName,
        MarketProductPrice.Price,
        MarketProductPrice.LastUpdated
    FROM MarketProductPrice
    INNER JOIN Market 
        ON MarketProductPrice.MarketID = Market.MarketID
    WHERE MarketProductPrice.ProductID = @ProductID
      AND MarketProductPrice.DistrictID = @DistrictID
    ORDER BY MarketProductPrice.Price ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetProductPriceHistory]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetProductPriceHistory]
    @ProductID INT,
    @DistrictID INT,
    @Days INT = 30   -- Son kaç gün?
AS
BEGIN
    ;WITH DailyPrices AS ( --create temporary tables CTE (Common Table Expression) başlatır.
        SELECT
            MarketProductPrice.Price,
            MarketProductPrice.LastUpdated,
            CONVERT(date, MarketProductPrice.LastUpdated) AS PriceDate,
            Market.MarketName,
            ROW_NUMBER() OVER (
                PARTITION BY Market.MarketID, CONVERT(date, MarketProductPrice.LastUpdated)
                ORDER BY MarketProductPrice.LastUpdated DESC
            ) AS rn
        FROM MarketProductPrice
        INNER JOIN Market 
            ON MarketProductPrice.MarketID = Market.MarketID
        WHERE MarketProductPrice.ProductID = @ProductID
          AND MarketProductPrice.DistrictID = @DistrictID
          AND CONVERT(date, MarketProductPrice.LastUpdated) >= 
                DATEADD(DAY, -@Days, CONVERT(date, GETDATE()))
    )
    SELECT 
        MarketName,
        Price,
        PriceDate,
        LastUpdated
    FROM DailyPrices
    WHERE rn = 1
    ORDER BY PriceDate ASC, MarketName ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetProductsByCategoryWithFilters]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetProductsByCategoryWithFilters]
    @CategoryID INT,
    @DistrictID INT,
    @MarketName NVARCHAR(100) = NULL,
    @Brand NVARCHAR(100) = NULL,
    @Unit NVARCHAR(20) = NULL,
    @MinPrice DECIMAL(10,2) = NULL,
    @MaxPrice DECIMAL(10,2) = NULL,
    @SortBy NVARCHAR(10) = 'ASC'   -- ASC or DESC
AS
BEGIN
    SELECT 
        Product.ProductID,
        Product.ProductName,
        Product.Brand,
        Product.Unit,
        ProductCategory.CategoryName,
        Market.MarketName,
        MarketProductPrice.Price,
        MarketProductPrice.LastUpdated
    FROM Product
    INNER JOIN ProductCategory 
        ON Product.CategoryID = ProductCategory.CategoryID
    INNER JOIN MarketProductPrice 
        ON Product.ProductID = MarketProductPrice.ProductID
    INNER JOIN Market
        ON MarketProductPrice.MarketID = Market.MarketID
    WHERE Product.CategoryID = @CategoryID
      AND MarketProductPrice.DistrictID = @DistrictID

      -- MARKET FILTRESI
      AND (@MarketName IS NULL OR Market.MarketName = @MarketName)

      -- MARKA FILTRESI
      AND (@Brand IS NULL OR Product.Brand = @Brand)

      -- UNIT / MIKTAR FILTRESI
      AND (@Unit IS NULL OR Product.Unit = @Unit)

      -- FIYAT ARALIGI FILTRESI
      AND (@MinPrice IS NULL OR MarketProductPrice.Price >= @MinPrice)
      AND (@MaxPrice IS NULL OR MarketProductPrice.Price <= @MaxPrice)

    ORDER BY
        CASE WHEN @SortBy = 'ASC' THEN MarketProductPrice.Price END ASC,
        CASE WHEN @SortBy = 'DESC' THEN MarketProductPrice.Price END DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetProductsByCategoryWithFilters_Paged]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetProductsByCategoryWithFilters_Paged]
    @CategoryID INT,
    @DistrictID INT,
    @MarketName NVARCHAR(100) = NULL,
    @Brand NVARCHAR(100) = NULL,
    @Unit NVARCHAR(20) = NULL,
    @MinPrice DECIMAL(10,2) = NULL,
    @MaxPrice DECIMAL(10,2) = NULL,
    @SortBy NVARCHAR(10) = 'ASC',     -- ASC / DESC
    @Page INT = 1,
    @PageSize INT = 20
AS
BEGIN
    ;WITH FilteredProducts AS (
        SELECT 
            Product.ProductID,
            Product.ProductName,
            Product.Brand,
            Product.Unit,
            ProductCategory.CategoryName,
            Market.MarketName,
            MarketProductPrice.Price,
            MarketProductPrice.LastUpdated,
            ROW_NUMBER() OVER (
                ORDER BY 
                    CASE WHEN @SortBy = 'ASC' THEN MarketProductPrice.Price END ASC,
                    CASE WHEN @SortBy = 'DESC' THEN MarketProductPrice.Price END DESC
            ) AS RowNum
        FROM Product
        INNER JOIN ProductCategory ON Product.CategoryID = ProductCategory.CategoryID
        INNER JOIN MarketProductPrice ON Product.ProductID = MarketProductPrice.ProductID
        INNER JOIN Market ON MarketProductPrice.MarketID = Market.MarketID
        WHERE Product.CategoryID = @CategoryID
          AND MarketProductPrice.DistrictID = @DistrictID
          AND (@MarketName IS NULL OR Market.MarketName = @MarketName)
          AND (@Brand IS NULL OR Product.Brand = @Brand)
          AND (@Unit IS NULL OR Product.Unit = @Unit)
          AND (@MinPrice IS NULL OR MarketProductPrice.Price >= @MinPrice)
          AND (@MaxPrice IS NULL OR MarketProductPrice.Price <= @MaxPrice)
    )
    SELECT *
    FROM FilteredProducts
    WHERE RowNum BETWEEN (@Page-1)*@PageSize + 1 AND @Page*@PageSize;

    -- Toplam ürün sayısını da döndür
    SELECT COUNT(*) AS TotalCount
    FROM FilteredProducts;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetSimilarProducts]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetSimilarProducts]
    @ProductID INT,
    @DistrictID INT
AS
BEGIN
    SELECT TOP 10
        Product.ProductID,
        Product.ProductName,
        Product.Brand,
        Product.Unit,
        ProductCategory.CategoryName,
        MIN(MarketProductPrice.Price) AS LowestPrice
    FROM Product
    INNER JOIN ProductCategory
        ON Product.CategoryID = ProductCategory.CategoryID
    INNER JOIN Product AS BaseProduct
        ON BaseProduct.ProductID = @ProductID
    INNER JOIN MarketProductPrice
        ON Product.ProductID = MarketProductPrice.ProductID
    WHERE Product.CategoryID = BaseProduct.CategoryID
      AND Product.Unit = BaseProduct.Unit
      AND Product.ProductID <> @ProductID
      AND MarketProductPrice.DistrictID = @DistrictID
    GROUP BY 
        Product.ProductID,
        Product.ProductName,
        Product.Brand,
        Product.Unit,
        ProductCategory.CategoryName
    ORDER BY LowestPrice ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetSortOptionsForCategory]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetSortOptionsForCategory]
AS
BEGIN
    SELECT 'ASC'  AS SortKey,  'Fiyat: Artan'  AS SortLabel
    UNION ALL
    SELECT 'DESC', 'Fiyat: Azalan'
    UNION ALL
    SELECT 'AZ',   'A - Z Sıralama'
    UNION ALL
    SELECT 'ZA',   'Z - A Sıralama';
END;
GO
/****** Object:  StoredProcedure [dbo].[GetTotalProductsByCategory]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--kategori ekranında toplam ürün sayısı
CREATE   PROCEDURE [dbo].[GetTotalProductsByCategory]
    @CategoryID INT,
    @DistrictID INT
AS
BEGIN
    SELECT 
        COUNT(DISTINCT Product.ProductID) AS TotalProducts
    FROM Product
    INNER JOIN MarketProductPrice 
        ON Product.ProductID = MarketProductPrice.ProductID
    WHERE Product.CategoryID = @CategoryID
      AND MarketProductPrice.DistrictID = @DistrictID;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetUserProductList]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserProductList]
    @SessionID NVARCHAR(100)
AS
BEGIN
    SELECT 
        UserProductList.ListID,
        Product.ProductID,
        Product.ProductName,
        Product.Brand,
        Product.Unit,
        ProductCategory.CategoryName,
        UserProductList.AddedDate
    FROM UserProductList
    INNER JOIN Product ON UserProductList.ProductID = Product.ProductID
    INNER JOIN ProductCategory ON Product.CategoryID = ProductCategory.CategoryID
    WHERE UserProductList.SessionID = @SessionID
    ORDER BY UserProductList.AddedDate DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[RemoveProductFromUserList]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[RemoveProductFromUserList]
    @SessionID NVARCHAR(100),
    @ProductID INT
AS
BEGIN
    IF EXISTS (
        SELECT 1 FROM UserProductList
        WHERE SessionID = @SessionID AND ProductID = @ProductID
    )
    BEGIN
        DECLARE @Quantity INT;
        SELECT @Quantity = Quantity 
        FROM UserProductList 
        WHERE SessionID = @SessionID AND ProductID = @ProductID;

        IF @Quantity > 1
        BEGIN
            UPDATE UserProductList
            SET Quantity = Quantity - 1
            WHERE SessionID = @SessionID AND ProductID = @ProductID;
        END
        ELSE
        BEGIN
            DELETE FROM UserProductList
            WHERE SessionID = @SessionID AND ProductID = @ProductID;
        END
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[SearchProductsByName]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SearchProductsByName]
    @SearchText NVARCHAR(150)
AS
BEGIN
    DECLARE @SearchWords TABLE (Word NVARCHAR(150));

    -- Arama metnini boşluklardan böl
    INSERT INTO @SearchWords (Word)
    SELECT value FROM STRING_SPLIT(@SearchText, ' ');

    SELECT DISTINCT TOP 20
        Product.ProductID,
        Product.ProductName,
        Product.Brand,
        Product.Unit,
        ProductCategory.CategoryName
    FROM Product
    INNER JOIN ProductCategory ON Product.CategoryID = ProductCategory.CategoryID
    WHERE EXISTS (
        SELECT 1 FROM @SearchWords
        WHERE 
            Product.ProductName COLLATE SQL_Latin1_General_CP1_CI_AI LIKE '%' + Word + '%'
            OR Product.Brand COLLATE SQL_Latin1_General_CP1_CI_AI LIKE '%' + Word + '%'
            OR ProductCategory.CategoryName COLLATE SQL_Latin1_General_CP1_CI_AI LIKE '%' + Word + '%'
    )
    ORDER BY Product.ProductName ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateCity]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateCity]
    @CityID INT,
    @CityName NVARCHAR(100)
AS
BEGIN
    UPDATE City
    SET CityName = @CityName
    WHERE CityID = @CityID;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateDistrict]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateDistrict]
    @DistrictID INT,
    @CityID INT,
    @DistrictName NVARCHAR(100)
AS
BEGIN
    UPDATE District
    SET CityID = @CityID,
        DistrictName = @DistrictName
    WHERE DistrictID = @DistrictID;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateMarket]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateMarket]
    @MarketID INT,
    @MarketName NVARCHAR(100),
    @WebsiteURL NVARCHAR(255)
AS
BEGIN
    UPDATE Market
    SET MarketName = @MarketName,
        WebsiteURL = @WebsiteURL
    WHERE MarketID = @MarketID;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateMarketProductPrice]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateMarketProductPrice]
    @PriceID INT,
    @MarketID INT,
    @ProductID INT,
    @DistrictID INT,
    @Price DECIMAL(10,2)
AS
BEGIN
    UPDATE MarketProductPrice
    SET 
        MarketID = @MarketID,
        ProductID = @ProductID,
        DistrictID = @DistrictID,
        Price = @Price,
        LastUpdated = GETDATE()
    WHERE PriceID = @PriceID;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateProductCategory]    Script Date: 28.11.2025 20:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateProductCategory]
    @CategoryID INT,
    @CategoryName NVARCHAR(100)
AS
BEGIN
    UPDATE ProductCategory
    SET CategoryName = @CategoryName
    WHERE CategoryID = @CategoryID;
END;
GO
USE [master]
GO
